# Spotify Application Credentails
SPOTIPY_CLIENT_ID=your_spotify_client_id
SPOTIPY_CLIENT_SECRET=your_spotify_client_secret
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Spotify User Tokens (Generated after first run or manually)
SPOTIPY_REFRESH_TOKEN=your_refresh_token

# Last.fm Credentials for Genre Fetching
LASTFM_API_KEY=your_lastfm_api_key
